<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Venue Resource Booking System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">

        <h1>Venue Resource Booking System</h1>

        <p>
            A centralized platform for viewing venues,
            checking booking slots and managing venue reservations.
        </p>

        <div class="actions">

            <a href="/register" class="btn">
                Register
            </a>

            <a href="/login" class="btn">
                Login
            </a>

        </div>

    </div>

</body>

</html>